<div class='point-page-wrapper'>


    <div class='point-side-bar'>
      <%# ユーザーのポイント合計値 %>
      <div class='side-name'>
        <%= current_user.nickname %>の日記
      </div>
      <div class='side-point'>
      所持ポイント<br />
      <%= @point %>pt
      </div>

        <% if @point < 100 %>
          <%= "ポイント不足です！" %>
        <% else %>
          <% if Feed.exists?(user_id: current_user.id) %>
            <% if @lastfeed > 259200 %>
              <% if @point < 500 %>
                <%= "ポイント不足です！" %>
              <% else %>
                <%= form_with model: @feed, url: feeds_path, local: true do |f| %>
                  <%= f.hidden_field :feed_point, :value => 500 %>
                  <%= f.submit "探しにいく" ,class:"feed-btn" %>
                  <%= "-500pt" %>
                <% end %>
              <% end %>
            <% elsif @lastfeed <= 600 %>
              <%= "食事中・・・" %>
            <% else %>
              <%= form_with model: @feed, url: feeds_path, local: true do |f| %>
                <%= f.hidden_field :feed_point, :value => 100 %>
                <%= f.submit "餌をあげる" ,class:"feed-btn" %>
                <%= "-100pt" %>
              <% end %>
            <% end %>
          <% else %>
            <%= form_with model: @feed, url: feeds_path, local: true do |f| %>
              <%= f.hidden_field :feed_point, :value => 100 %>
              <%= f.submit "餌をあげる" ,class:"feed-btn" %>
              <%= "-100pt" %>
            <% end %>
          <% end %>
        <% end %>

      <%= link_to "日記一覧に戻る", root_path %>
    </div>
    <div class='point-area'>
      <div class='hamster-image'>
        <% if Feed.exists?(user_id: current_user.id) %>
          <% if @lastfeed > 259200%>
            <%= image_tag "ham5.jpg", id: :ham_image %>
          <% elsif (@lastfeed > 300) && (@lastfeed <= 600) %>
            <%= image_tag "ham4.jpg", id: :ham_image %>
          <% elsif @lastfeed <= 300 %>
            <%= image_tag "ham3.jpg", id: :ham_image %>
          <% else %>
            <%= image_tag "ham1.jpg", id: :ham_image %>
          <% end %>
        <% else %>
          <%= image_tag "ham1.jpg", id: :ham_image %>
        <% end %>
      </div>
    </div>
</div>