<div class='how_to_use-main'>
  <div class='how_to_use'>
    <ul class='how_tu_use-window'>
      <li class='how_to_use-list'>
        <%= image_tag 'use1.jpg', class: :how_to_use_image %><br />
        日記を書くことでポイントを獲得できます
      </li>
      <li class='how_to_use-list'>
        <%= image_tag 'use2.jpg', class: :how_to_use_image %><br />
        一覧ページからタイトルを選ぶと日記を確認することができます
      </li>
      <li class='how_to_use-list'>
        <%= image_tag 'use3.jpg', class: :how_to_use_image %><br />
        ポイントを消費してペットに餌をあげることができます
      </li>
      <li class='how_to_use-list'>
        <%= image_tag 'use4.jpg', class: :how_to_use_image %><br />
        ポイントが不足しないように日記は毎日書きましょう。<br />
        何日も放置してしまうと・・・
      </li>
    </ul>
    </div>
  </div>
    <%= link_to "一覧に戻る", root_path, class: :return_toppage %>
</div>