<div class='main-wrapper'>
  <div class='point-area'>
    <%# ユーザーのポイント合計値 %>
    <%= @point %>
    <%= render 'tree' %>
  </div>
  <div class='diary-area'>
    <ul class='all-diary'>
      <% @diary.each do |diary| %>
        <% if diary.user_id == current_user.id %>
          <li class='list'>
            <%= link_to diary_path(diary.id) do %>
              <div class='diary-date'>
                投稿日    <%= diary.created_at.strftime"%m/%d" %>
              </div>
              <div class='diary-title'>
                <%= diary.title %>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>