<div class='main-wrapper'>
  <% if user_signed_in?%>

    <div class='index-side-bar'>
      <%# ユーザーのポイント合計値 %>
      <div class='side-name'>
        <%= current_user.nickname %>の日記
      </div>
      <div class='side-point'>
      所持ポイント<br />
      <%= @point %>pt
      </div>
      <%= link_to "育成する", '#', class: :game_page %>
      <%= link_to "日記作成", new_diary_path, class: :new_diary %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :logout %>
    </div>

    <div class='diary-area'>
      <ul class='all-diary'>
        <% @diary.each do |diary| %>
          <% if diary.user_id == current_user.id %>
            <li class='list'>
              <%= link_to diary_path(diary.id) do %>
                <div class='diary-date'>
                  投稿日    <%= diary.created_at.strftime"%m/%d" %>
                </div>
                <div class='diary-title'>
                  <%= diary.title %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <% else %>
      <div class='landing-page'>
        <div class='top-message'>
          ゲーム日記(仮)<br /><br />
          <div class='site-message'>
            毎日楽しみながら<br />
            日記を書きましょう<br /><br />
          </div>
          <%= link_to "新規登録", new_user_registration_path, class: :header_btn %><br /><br />

          <div class='registration-btn'> 登録済みの方はこちら</div>
          <%= link_to "ログイン", new_user_session_path, class: :header_btn %>

        </div>
      </div>
    <% end %>
</div>